<section class="page-images-index">
  <h1 class="page-header">My Images</h1>
  <% if @images.present? %>
    <ul class="page-images-index__items clearfix">
      <% @images.each do |image| %>
        <li class="page-images-index__item col-sm-4">
          <%= link_to image_path(image), class: 'page-images-index__img-link' do %>
            <figure class="page-images-index__fig" style="background-image: url(<%= image.picture.url %>);">
            </figure>
          <% end %>
          <div class="page-images-index__actions">
            <%= link_to 'Edit', edit_image_path(image), 
                                class: 'btn btn-default btn-xs' %>
            <%= link_to 'Delete', image_path(image),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  class: 'btn btn-xs btn-danger' %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="lead">No Images Yet!</p>
  <% end %>

  <%= link_to 'New Image', new_image_path, class: 'btn btn-primary' %>
</section>
