<section class="page-images-show">
  <h1 class="page-header">Image: <%= @image.name %></h1>
  <figure class="page-images-show__fig">
    <%= image_tag @image.picture.url, class: 'page-images-show__img' %>
  </figure>
  <div class="page-images-show__actions">
    <%= link_to 'Back', images_path, class: 'btn btn-default'  %>
    <%= link_to 'Edit', edit_image_path(@image), 
                        class: 'btn btn-default' %>
    <%= link_to 'Delete', image_path(@image),
                          method: 'delete',
                          data: { confirm: "Are you sure?" },
                          class: 'btn btn-danger' %>
  </div>
</section>
